/** *********************** Mark Wen Space v.3 Web CSS ********************* **/
/** ************************************************************************ **/

/** ********************************* Home ********************************* **/
.Home {
  /*Full Screen*/
  height: 100vh;
  /*Background Image*/
  background: url('../img/home.jpg') center center no-repeat scroll;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0 ,0 ,0 , 0.08);
  /*Vertically center all items*/
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  justify-content: center;
}
.home-content-wrapper {
  /*Keep content at the height*/
  height: 65%;
  vertical-align: middle;
}
/*Title*/
.home-title {
  /*Horizontally center*/
  text-align: center;
  /*Font*/
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  font-size: 55px;
  font-weight: 300;
}
/*Subtitle*/
.home-subtitle {
  /*Horizontally center*/
  text-align: center;
  /*Font*/
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  font-size: 16px;
  /*Vertically Closer*/
   margin-top: -28px;
   margin-bottom: -5px;
}
/*Icons*/
.home-icons-wrapper {
  /*Horizontally center all items*/
  margin: 0 auto;
  display: table;
  position: relative;
}
.home-icons-ul {
  /*Horizontally center all items*/
  list-style: none;
}
.home-icons-li {
  /*Horizontal Listing*/
  display: inline;
  /*Distance between Icons*/
  margin-left: 6px;
  margin-right: 6px;
}
.home-icons-icon {
  font-size: 27px;
  color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0.85);  /*White with 0.93 transparency*/
  /*Hover transition*/
  -webkit-transition: color 0.2s ease-in;   /* Chrome/Safari */
  -khtml-transition: color 0.2s ease-in;    /* Konqueror */
  -moz-transition: color 0.2s ease-in;      /* Firefox */
  -ms-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;   /* Opera */
  transition: color 0.2s ease-in;
}
.home-icons-icon:hover {
  color: rgb(255, 255, 255);
}
