/** *********************** Mark Wen Space v.3 Web CSS ********************* **/
/** ************************************************************************ **/

/** ********************** Prefered Responsive Settings ******************** **/
/*xxl: 2k or 4k monitors*/
@media screen and (min-width: 1921px) {
  .home-title {
    font-size: 95px;
  }
  .home-subtitle {
    font-size: 27px;
  }
  .home-icons-icon {
    font-size: 48px;
  }
  .home-icons-li {
    /*Distance between Icons*/
    margin-left: 9px;
    margin-right: 9px;
  }
}

/*xl: 1080p monitors*/
@media screen and (min-width: 1441px) and (max-width: 1920px) {
  .home-title {
    font-size: 75px;
  }
  .home-subtitle {
    font-size: 20px;
  }
  .home-icons-icon {
    font-size: 38px;
  }
}

/*lg: normal monitors*/
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .timeline-card-content {
    max-width: 275px;
  }
}

/*md: small monitors*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .timeline-card-content {
    max-width: 245px;
  }
}

/*sm: tablets*/
@media screen and (min-width: 426px) and (max-width: 768px) {
  .timeline-card-content {
    max-width: 200px;
  }
}
/*xs: smartphone*/
@media screen and (max-width: 425px) {
  /*MW Logo on Navbar*/
  .MWLogo {
    width:56px;
    height:56px;
  }
  .timeline-card-content {
    max-width: 220px;
  }
}

/** ******************* Materializecss Responsive Settings ***************** **/
/*s*/
@media screen and (max-width: 600px) {
  .grayLine {
    display: none;
  }
}

/*m*/
@media screen and (min-width: 601px) and (max-width: 992px) {
  .card.horizontal .card-image {
    min-width: 105px;
  }
}

/*l*/
@media screen and (min-width: 993px) {
  .card.horizontal .card-image {
    min-width: 105px;
  }
}
