/** *********************** Mark Wen Space v.3 Web CSS ********************* **/
/** ************************************************************************ **/

/** ********************************* Skills ******************************* **/
.skills-card {
  margin: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
}
.skills-card-title {
  font-size: 20px;
  margin: 20px 0;
  text-align: center;
}
.skillsCat-skills > span {
  font-size: 15px;
}
.skill-progress {

}
