/** *********************** Mark Wen Space v.3 Web CSS ********************* **/
/** ************************************************************************ **/

/** ********************************* Skills ******************************* **/
.skills-card {
  margin: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
}
.skills-card-title {
  font-size: 20px;
  margin: 20px 0;
  text-align: center;
}
.skillsCat-skills > span {
  font-size: 15px;
}
.skillsCat-skills {
  width: 95%;
  margin: 0 auto;
}
.skill-progress {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.2);
  width: 85%;
}
.skill-number {
  margin-top: -3.5vh;
  width: 15%;
  text-align: right;
  padding-left: 5px;
}
