/** *********************** Mark Wen Space v.3 Web CSS ********************* **/
/** ************************************************************************ **/

/** ******************************* Timeline ******************************* **/
.Timeline {
  width: 100%;
}
.grayLine {
  width: 3px;
  height: 85%;
  background: #bdbdbd;
  margin: 35px 50%;
  position: absolute;
  border-radius: 25px;
}
.timeline-card-image {
  width: 150px;
}
.timeline-content {
  padding-top: 30px;
}
.timeline-card-content {
  display: block;
}
.timeline-data-location {
  font-style: italic;
}
.timeline-more-button {
  float: right;
  margin-left: auto;
  margin-top: 10px;
  margin-right: 5px;
}
